{% load static %}
{% load field_attrs %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Log in</title>
  </head>
  <body class="loginPage">
    <div class="container">
      <h1>Please Login</h1>
    <form method="post" class="loginForm">
        {% csrf_token %}

            <div class="form-control">
                {{ form.login|attr:"placeholder:" }}
                <label>E-mail address</label>
            </div>

            <div class="form-control">
                {{ form.password|attr:"placeholder:" }}
                <label>Password</label>
            </div>


            <button type="submit" class="btn">Log In</button>
            <p class="registerLink">Don't have account?<a href="{% url 'account_signup' %}"> Sign up!</a></p>
            </div>
    </form>

    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>







{#{% extends '_base.html' %}#}
{#{% load static %}#}
{##}
{##}
{#{% block title %}<title>Log in</title>{% endblock title %}#}
{##}
{#{% block content %}#}
{#<h2>Log in</h2>#}

{##}
{#{% endblock %}#}
