
{% extends '_base.html' %}
{% load static %}
{% load field_attrs %}

{% block content %}
    <div class="container">
      <h1>Please Login</h1>
    <form method="post" class="loginForm">
        {% csrf_token %}

            <div class="form-control">
                {{ form.oldpassword|attr:"placeholder:" }}
                <label>Old password</label>
            </div>


            <div class="form-control">
                {{ form.password1|attr:"placeholder:" }}
                <label>New password</label>
            </div>

            <div class="form-control">
                {{ form.password2|attr:"placeholder:" }}
                <label>Confirm new password</label>
            </div>

            <button type="submit" class="btn">Change password</button>

            </div>
    </form>

    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}