{% load static %}
{% load field_attrs %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Log in</title>
  </head>
  <body class="loginPage">
    <div class="container">
      <h1>Password Reset</h1>


    <p class="pas-res-txt">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>





    <form method="post" class="loginForm">
        {% csrf_token %}

            <div class="form-control">
                <input type="email" name="email"  autocomplete="email" required="" id="id_email">
                <label for="id_email">E-mail:</label>
                <input type="hidden"  value="84u4b7DbrNW4tNOCG1Y2VKL1sqkjq7atejlgcNQP5P5dSQal6NY0LrILsou5kkPn">

            </div>


            <input type="submit" value="Reset My Password" class="btn">
            <p class="registerLink">Log in <a href="{% url 'account_login' %}"> Here!</a></p>
    </br>
            <p class="pas-res-txt">Please contact us if you have any trouble resetting your password.</p>
    </div>
    </form>

    <script src="{% static 'js/app.js' %}"></script>
  </body>