{% load static %}
{% load field_attrs %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Sign up</title>
  </head>
  <body class="loginPage">
  <nav class="nav-container">

    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'reportNewBug' %}">Raport a bug</a></li>
        <li><a href="/profileView/{{ user.id }}" style="color: #dd3233; font-weight: bold">Profile</a></li>
        <li><a href="{% url 'account_logout' %}">Log out</a></li>
    </ul>
</nav>
    <div class="container">
      <h1>Please Login</h1>
    <form method="post" class="loginForm">
        {% csrf_token %}

            <div class="form-control">
                {{ form.oldpassword|attr:"placeholder:" }}
                <label>Old password</label>
            </div>


            <div class="form-control">
                {{ form.password1|attr:"placeholder:" }}
                <label>New password</label>
            </div>

            <div class="form-control">
                {{ form.password2|attr:"placeholder:" }}
                <label>Confirm new password</label>
            </div>

            <button type="submit" class="btn">Change password</button>

            </div>
    </form>

    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
