

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Sign up</title>
  </head>
  <body class="loginPage">
    <div class="container">
      <h1>Please Login</h1>
    <form method="post" class="loginForm">
        {% csrf_token %}

            <div class="form-control">
                {{ form.username }}
                <label>Username</label>
            </div>

            <div class="form-control">
                {{ form.password1 }}
                <label>Password</label>
            </div>

            <div class="form-control">
                {{ form.password2 }}
                <label>Confirm password</label>
            </div>

            <button type="submit" class="btn">Sign in</button>
            <p class="registerLink">If you have an account<a href="{% url 'login' %}"> Log in!</a></p>
            </div>
    </form>

    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
