@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', 'sans-serif';
}


.loginPage {
    background-color: steelblue;
    color: #fff;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* Style dotyczace strony logowania */

.container {
    background-color: rgba(0,0,0,0.4);
    padding: 20px 40px;
    border-radius: 20px;
}

.container h1 {
    text-align: center;
    margin-bottom: 45px;
}

.btn {
    cursor: pointer;
    width: 100%;
    display: inline-block;
    padding: 10px;
    background: lightblue;
    font-family: inherit;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
}
.btn:focus {
    outline: 0;
}

.btn:active {
   transform: scale(0.98);
}

.registerLink a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: lightblue;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}


#id_password,
#id_password1,
#id_password2,
#id_login,
#id_email,
#id_oldpassword{
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid #fff;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}


#id_password:focus,
#id_password:valid,
#id_password1:focus,
#id_password1:valid,
#id_password2:focus,
#id_password2:valid,
#id_login:focus,
#id_login:valid,
#id_email:focus,
#id_email:valid,
#id_oldpassword:focus,
#id_oldpassword:valid {
    outline: 0;
    border-bottom: 2px solid lightblue;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: lightblue;
    transform: translateY(-30px);
}


/* Style landingPage */

.firstContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.4);
    padding: 20px 30px;
    border-radius: 20px;
}

.firstContainer h1, .firstContainer h2 {
    width: 100%;
    margin: 25px auto 15px auto;
    text-align: center;
}
.firstContainer h2 {
    margin-bottom: 35px;
}

.firstContainer div {
    display: flex;
    /*align-content: space-between;*/
    justify-content: space-around;
    margin-bottom: 25px;
}

.firstContainer div button {
    width: 150px;
    height: 50px;
    background-color: lightblue;
    border-radius: 10px;
    border: 0;
}
.firstContainer div button a {
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #444;
}

.firstContainer div button:focus {
    outline: 0;
}
/* Navigation */

.nav-container{
    background-color: #494b68;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
}

.nav-container ul {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

.nav-container ul li {
    list-style: none;
    margin: 20px 15px;
    transform: translateY(-50%);
}

.nav-container ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.test {
    height: 200vh;
}

/* Project overview styles */

.table-container {
    max-width: 1200px;
    margin: 100px auto;
    background-color: aliceblue;
}

.table {
    width: 100%;
}

.table tr th:not(:last-of-type) {
    border-right: 1px solid #000;
}

.inside-content td {
    padding: 10px 15px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}

.title {
    cursor: pointer;
}

/* Bug report form */

.bug-report-form {
    display: flex;
    margin-top: 100px;
    width: 350px;
    height: 500px;
    background-color: lightblue;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: -2;
    padding: 50px 40px 25px;
}

.bug-report-form p {
    position: relative;
    width: 250px;
    height: 150px;
    margin: 15px auto;
}

.bug-report-form p label {
    position: absolute;
    top: -25px;
    left: 5px;
    font-size: 18px;
}

.bug-report-form p input,
.bug-report-form p select {
    background-color: transparent;
    border: 3px solid #fff;
    width: 250px;
    height: 50px;
    font-size: 1.3rem;
}

.bug-report-form button {
    width: 120px;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    font-size: 1.2rem;

}

.bug-report-form button:hover {
    background-color: #fff;
    color: #494b68;
}

.bug-report-form button:focus {
    outline: 0;
}

.bug-report-form button:active {
    transform: scale(0.98);
}

.urgent {
    background-color:  rgba(200, 32, 33, 0.8);
}

.asap {
    background-color: rgba(140, 32, 203, 0.8);
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form.inactive {
    display: none;
}

.btnshowingForm {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border: 3px #000 solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightblue;
    transition: .3s ease-in;
}

.btnshowingForm:hover {
    width: 150px;
    height: 70px;
}

.btnshowingForm:hover p {
    color: black;
    opacity: 1;
}

.btnshowingForm:active {
    transform: scale(0.98);
}

.btnshowingForm.active {
        background-color: darkseagreen;
}

.btnshowingForm p {
    color: black;
    opacity: 0;
    transition: opacity 0.1s .18s ease;
}
