@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', 'sans-serif';
}

body {
    background-color: #2d5f5d;

}
.loginPage {
    background-color: steelblue;
    color: #fff;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* Style dotyczace strony logowania */

.container {
    background-color: rgba(0,0,0,0.4);
    padding: 20px 40px;
    border-radius: 20px;
}

.container h1 {
    text-align: center;
    margin-bottom: 45px;
}

.btn {
    cursor: pointer;
    width: 100%;
    display: inline-block;
    padding: 10px;
    background: lightblue;
    font-family: inherit;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
}
.btn:focus {
    outline: 0;
}

.btn:active {
   transform: scale(0.98);
}

.registerLink a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: lightblue;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}


#id_password,
#id_password1,
#id_password2,
#id_login,
#id_email,
#id_oldpassword{
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid #fff;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}


#id_password:focus,
#id_password:valid,
#id_password1:focus,
#id_password1:valid,
#id_password2:focus,
#id_password2:valid,
#id_login:focus,
#id_login:valid,
#id_email:focus,
#id_email:valid,
#id_oldpassword:focus,
#id_oldpassword:valid {
    outline: 0;
    border-bottom: 2px solid lightblue;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: lightblue;
    transform: translateY(-30px);
}


/* Style landingPage */

.firstContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.4);
    padding: 20px 30px;
    border-radius: 20px;
}

.firstContainer h1, .firstContainer h2 {
    width: 100%;
    margin: 25px auto 15px auto;
    text-align: center;
}
.firstContainer h2 {
    margin-bottom: 35px;
}

.firstContainer div {
    display: flex;
    /*align-content: space-between;*/
    justify-content: space-around;
    margin-bottom: 25px;
}

.firstContainer div button {
    width: 150px;
    height: 50px;
    background-color: lightblue;
    border-radius: 10px;
    border: 0;
}
.firstContainer div button a {
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #444;
}

.firstContainer div button:focus {
    outline: 0;
}
/* Navigation */

.nav-container{
    background-color: #494b68;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
}

.nav-container ul {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

.nav-container ul li {
    list-style: none;
    margin: 20px 15px;
    transform: translateY(-50%);
}

.nav-container ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.test {
    height: 200vh;
}

/* Project overview styles */


.projectsContainer {
    margin: 60px auto 0 auto;
    max-width: 1200px;

}

.projectDetailsBox {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    width: 90%;
    margin: 60px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 1px 0px 10px 5px rgba(0,0,0,0.85);
    /*background-color: #265077;*/
    background-image: url("/static/images/coffee.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.projectTitle {
    width: 95%;
    margin-bottom: 20px;
}

.projectTitle a {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    text-decoration: none;

}
.projectTitle p {
    font-size: 18px;
    margin-top: 10px;
}

.problemContainer {
    padding: 10px;
    background-color: #265077;
    border-radius: 20px;
}


.priorityType {
    font-size: 20px;
    font-weight: bold;
}

.urgent {
    color: #dd3233;
}

.asap {
    color: rebeccapurple;
}


.border {
    border: 1px solid #000;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.74);
}

.projectOverviewContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectOverviewContainer h3 {
    text-transform: uppercase;
}
.projectOverviewContainer p span {
    font-weight: bold;
}

.issueDesc {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 2px solid #650e3d;
}