{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{#    <link rel="stylesheet" href="{% static 'css/base.css' %}" />#}
    <title>Report a bug</title>
  </head>
  <body class="loginPage">

    <form method="post" class="loginForm">
        {% csrf_token %}

            <div class="form-control">
                {{ form.as_p }}
            </div>




            <button type="submit" class="btn">Report</button>
    </form>

    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>

