
{% extends '_base.html' %}
{% load static %}

{% block content %}
<div style="margin-top: 60px">

</div>

        {% for project in projects %}
            <div class="table-container">
        <div >
            <table class="table">
                  <tr class="inside-content">
                    <th>Project Name</th>
                    <th>Deadline</th>
                    <th>Team</th>
                    <th>Created</th>
                  </tr>


                    <tr class="inside-content">
                        <td class="title inactive"><a href="/projectDetails/{{ project.id }}">{{ project.project_name }}</a></td>
                        <td>{{ project.deadline }}</td>
                    <td>
                        {% for developer in project.devs.all %}<a href="/profile/{{ developer.id}}">

                             {% if developer.profil_pic %}
                                    <img class="prof-pic" src="{{ developer.profil_pic.url }}" alt="{{ employee.first_name }}" width="240px">
                            {% else %}
                                    <img class="prof-pic def" src="static/images/profileImg/default.jpg" alt="{{ developer.first_name }}" width="240px">
                            {% endif %}
                            {{ developer }} <br>
                            </a>
                        {% endfor %}
                    </td>
                    <td>{{ project.added_date }}</td>
                    </tr>


            </table>

        </div>

    </div>
{% endfor %}

    <button class="btnshowingForm"><p>Report issue</p></button>

    <div class="form inactive" id="hidden-form">
        <div id="result"></div>
            <form method="post" class="bug-form">
                {% csrf_token %}
                <div class="bug-report-form">
                    {{ form.as_p }}
                    <input type="button" name="submit" class="btn-add-issue btn-block btn-info btn-insert-data" value="Report">
                </div>

             </form>

        </div>

{% endblock %}