{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Document</title>
</head>
<body>
<nav class="nav-container">
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'reportNewBug' %}">Raport a bug</a></li>
        <li><a href="/profileView/{{ user.id }}" style="color: #dd3233; font-weight: bold">Profile</a></li>
        <li><a href="{% url 'account_logout' %}">Log out</a></li>
    </ul>
</nav>
<div style="margin-top: 60px">
<h1>Prosze uzupelnij swoj profil</h1>
 <form method="post" style="margin-top: 60px">
        {% csrf_token %}

            <div>
                {{ form.as_p }}
            </div>
            <button type="submit">Report</button>
    </form>
    </div>
</body>
</html>