{% extends '_base.html' %}
{% load static %}

{% block content %}

<div class="profile-container">
        {% if employee.profil_pic %}
            <div><img src="{{ employee.profil_pic.url }}" alt="{{ employee.first_name }}" width="240px"></div>
        {% else %}
            <div><img src="/static/images/profileImg/default.jpg" alt="{{ employee.first_name }}" width="240px"></div>
        {% endif %}

        <h2>{{ employee.first_name }} {{ employee.last_name }}</h2>
        <h4>{{ employee.position }}</h4>
        <p>{{ employee.email }}</p>

</div>

    {% if request.user.id == employee.id %}

    <div>
        <a href="/accounts/password/change">Change password</a>
    </div>
    {% endif %}


     <div class="issues-in-profile">
     <h2>Reported issues:</h2>
            {% for issue in reported_by_this_dev %}
                <div class="single-issue-in-profile">
                    <h2>{{ issue.issue_name }}</h2>
                    <h3>Description: </h3><p>{{ issue.description }}</p>
                    <div>
                        <p><span>Type: </span>{{ issue.issue_type }}</p>
                        <p><span> Status: </span>{{ issue.status }}</p>
                    </div>
                </div>

            {% endfor %}
        </div>
{% endblock %}