{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div style="margin-top: 100px">



            <div class="table-container">
        <div >
        <h1>{{ project.project_name }}</h1>
        <h3>{{ project.description }}</h3>

            <h4>Team:</h4>
            <ul>{% for developer in project.devs.all %}
            <li>
                <a href="/profile/{{ developer.id}}">

                             {% if developer.profil_pic %}
                                    <img class="prof-pic" src="{{ developer.profil_pic.url }}" alt="{{ employee.first_name }}" width="240px">
                            {% else %}
                                    <img class="prof-pic def" src="/static/images/profileImg/default.jpg" alt="{{ developer.first_name }}" width="240px">
                            {% endif %}
                            {{ developer }} <br>
                            </a>

            </li>{% endfor %}
            </ul>

        <h3>Reported Issue</h3>

        <div class="table-container">
            <table class="table">
                  <tr class="inside-content">
                    <th>Title</th>
                    <th>Owner</th>
                    <th>Priority</th>
                    <th>Project</th>
                    <th>Deadline</th>
                    <th>Status</th>
                  </tr>
                {% for issue in issues %}
                    <tr class="inside-content">
                        <td class="title inactive">{{ issue.issue_name }}</td>
                        <td>
                            {% if issue.reported.profil_pic %}
                                    <img class="prof-pic" src="{{ issue.reported.profil_pic.url }}" alt="{{ employee.first_name }}" width="240px">
                            {% else %}
                                    <img class="prof-pic def" src="/static/images/profileImg/default.jpg" alt="{{ employee.first_name }}" width="240px">
                            {% endif %}
                            {{ issue.reported }}</td>
                        <td class="priorityType">{{ issue.priority }}</td>
                        <td>{{ issue.project }}</td>
                        <td>{{ issue.due_date }}</td>
                        <td>{{ issue.status }}</td>
                    </tr>
                {% endfor %}
            </table>



    </div>

<button class="btnshowingForm"><p>Report issue</p></button>

    <div class="form inactive" id="hidden-form">
        <div class="form-group">
              <div class="alert alert-success" id="ins_success" style="display:none">

              </div>
               <div class="alert alert-danger" id="ins_error" style="display:none">

              </div>
          </div>
            <form method="post" class="bug-form">
                {% csrf_token %}
                <div class="bug-report-form">
                    {{ form.as_p }}
                    <button type="submit">Report</button>
                </div>

             </form>

        </div>

        </div>

    </div>










    </div>
{% endblock %}