{% extends '_base.html' %}
{% load static %}

{% block content %}




        <div class="project-info-container">
        <h1>{{ project.project_name }}</h1>

        <h2>Reported Issue:</h2>
            <div class="issues">
            {% for issue in issues %}
                <div class="single-issue">
                    <h2>{{ issue.issue_name }}</h2>
                    <div >
                        <p><span>Type: </span>{{ issue.issue_type }}</p>
                        <p class="status"><span> Status: </span>{{ issue.status }}</p>
                    </div>
                    <p><span>Owner: </span><a href="/profile/{{ issue.reported.id }}">{{ issue.reported.first_name }} {{ issue.reported.last_name }}</a></p>
                    <h3>Description: </h3><p>{{ issue.description }}</p>

                    <p><span>Status: </span>{{ issue.status }}</p>
                    <h3 id="priority">{{ issue.priority }}</h3>

                </div>

            {% endfor %}
        </div>


{% endblock %}